*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
}
#titulo
{
    width:2795px;
    height: 200px;
    background-color: blue;
    display: inline-block;
    margin: 20px 10px 50px 50px;
    text-align: center;
}
#chico
{
    width: 2700px;
    height: 170px;
    background-color: darkorange;
    display: inline-block;
    margin: 10px 10px 100px 100px;
    text-align: center;
    text-align: center;
}
#cuerpo
{
    width: 2795px;
    height: 800px;
    background-color: chartreuse;
    display: inline-block;
    margin: 10px 10px 50px 50px;
    text-align: center;
}
#final
{
    width: 2700px;
    height: 170px;
    background-color: forestgreen;
    display: inline-block;
    margin: 10px 10px 100px 100px;
    text-align: center;
}
#boton2
{
    width: 120px;
    height: 70px;
    background-color: red;
}